<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.mtq.shop.domain"/>
	</typeAliases>
	
	<mappers>
		<!-- <mapper resource="com/qfedu/house/mapper/UserMapper.xml" />
		<mapper resource="com/qfedu/house/mapper/DistrictMapper.xml" /> -->
		<package name="com.mtq.shop.domain"/>
	</mappers>
	
</configuration>